@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6fdff;
}

.box {
  border-radius: 0px 30px;
  background: rgba(29, 114, 147, 0.1);
}

.trustmarquwe{
  animation: tmarque 10s linear 2s infinite forwards;
}


@keyframes tmarque {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}
